/* Styles for the Light Mode */
body {
    font-family: Arial, sans-serif;
    background-color: teal;
    transition: background-color 0.8s, color 0.5s; /* Transición suave para el modo claro */
  }
  
  /* Header styles for the Light Mode */
  .header h1,
  .header button .header a {
    display: inline;
    margin-right: 80px;
  }
  
  /* Styles for the "Dark Mode" button in Light Mode */
  #darkModeButton {
    background: transparent;
    border: transparent;
    font-size: 30px;
  }
  
  /* Styles for the Calculator container in Light Mode */
  .calculator {
    width: 380px;
    height: 550px;
    margin: auto;
    margin-top: 200px;
  }
  
  /* Styles for the calculator heading in Light Mode */
  .calculator h1 {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif bold;
  }
  
  /* Styles for the display area in Light Mode */
  #display {
    width: 75%;
    height: 5%;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: seashell;
    border-radius: 60px;
    margin-left: auto;
  }
  
  /* Styles for the buttons container in Light Mode */
  .buttons {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 15px;
  }
  
  /* Styles for the operation buttons in Light Mode */
  #operations {
    font-size: 20px;
  }
  
  /* Styles for the calculator buttons in Light Mode */
  .buttons button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 0 rgb(48, 48, 48);
  }
  
  /* Styles for the "Remove" button in Light Mode */
  #remove {
    background-color: royalblue;
    color: white;
  }
  
  /* Hover styles for the calculator buttons in Light Mode */
  .buttons button:hover {
    transform: translateY(4px);
    background-color: snow;
    box-shadow: none;
  }
  